:root {
    --primary-color: #1a2b33;
    --secondary-color: #1e3640;
    --grey-color: #a9bec8;
    --pink-color: #e32c89;
    --orange-color: #ee8a1a;

}


* {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: sans-serif;
}



.page-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.logo {
    cursor: pointer;
}

.logo > img {
    width: 100px;
    height: 100px;
}

.turn-display {
    display: flex;
    gap: 25px;
    margin-right: 50px;
    cursor: default;
    
    
}

#player-x , #player-o {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
    background-color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 5px;

}



#player-x > img , #player-o > img {
    width: 30px;
    height: 30px;
    background-color: var(--secondary-color);
}



#player-x > div , #player-o > div {
    background-color: var(--secondary-color);
    color: var(--grey-color);
    font-weight: bold;
    
}

.active {
    color: var(--secondary-color);
    background-color: var(--grey-color);
}

.home {
    background-color: var(--grey-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.home > img {
    width: 30px;
    height: 30px;
    background-color: var(--grey-color);
}



.active-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}





.player-active {
    color: white;
    background-color: black;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;

}

.gamesquare {
    width: 80px;
    height: 80px;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--grey-color);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
}

.gamesquare:hover {
    background-color: black;
}

.score-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
}

.x-score , .ties , .o-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    width: 90%;
    justify-self: center;
    
    
}


.x-score , .x-score > div {
    background-color: var(--pink-color);
}

.ties , .ties > div {
    background-color: var(--grey-color);
}

.o-score , .o-score > div {
    background-color: var(--orange-color);
}

.score-text {
    font-size: 12px;
    font-weight: bold;
}

#o-score-value , #tie-score-value , #x-score-value {
    font-weight: bold;
    font-size: 24px;
}

